<header class="z-10">
    <nav class="top-0 z-10 w-screen h-16">
        <div class="container flex justify-between items-center h-16 md:mx-auto">
            <a class="inline-block my-auto ml-2 text-4xl text-center lg:ml-10" href="/">
                Seyi Olojo
            </a>
            <div class="hidden items-center mr-4 space-x-4 w-auto md:flex">
                <a class="text-lg hover:text-sky" href="/">About</a>
                <a class="text-lg hover:text-sky" href="/publication">Publications</a>
                <a class="text-lg hover:text-sky" href="/project">Projects</a>
                <a class="text-lg hover:text-sky" href="https://drive.google.com/file/d/1xoXPfDc7nIl7c3OMnM_DOINcH-KSHTxxUFACqJ8wyhU/view">CV</a>
                <a class="text-lg hover:text-sky" href="mailto: oolojo@berkeley.com">Contact</a>
            </div>
            <div class="block absolute left-0 top-3 z-0 md:hidden">
                <input class="absolute right-4 w-10 h-10 opacity-0 cursor-pointer nav-menu-toggle" type="checkbox" id="nav">
                <span class="text-sm nav-menu-up">
                    <svg class="mr-4 ml-auto w-10 h-10 fill-current text-text" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0 96c0-17.67 14.33-32 32-32h384c17.7 0 32 14.33 32 32 0 17.7-14.3 32-32 32h-384c-17.67 0-32-14.3-32-32zm0 160c0-17.7 14.33-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32h-384c-17.67 0-32-14.3-32-32zm416 192h-384c-17.67 0-32-14.3-32-32s14.33-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
                    </svg>
                </span>
                <span class="text-sm nav-menu-down">
                    <svg class="mr-4 ml-auto w-10 h-10 fill-current text-text" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                    </svg>
                </span>
                <div class="overflow-hidden w-screen max-h-0 bg-base nav-menu-content">
                    <ul class="my-10 space-y-10">
                        <li class="text-center">
                            <a href="/" class="inline-block text-4xl text-center hover:text-sky">About</a>
                        </li>        
                        <li class="text-center">
                            <a href="/publication" class="inline-block text-4xl text-center hover:text-sky">Publications</a>
                        </li>
                        <li class="text-center">
                            <a href="/project" class="inline-block text-4xl text-center hover:text-sky">Projects</a>
                        </li>
                        <li class="text-center">
                            <a href="https://drive.google.com/file/d/1xoXPfDc7nIl7c3OMnM_DOINcH-KSHTxxUFACqJ8wyhU/view" class="inline-block text-4xl text-center hover:text-sky">CV</a>
                        </li>
                        <li class="text-center">
                            <a href="mailto: oolojo@berkeley.com" class="inline-block text-4xl text-center hover:text-sky">Contact</a>
                        </li>
                    </ul>
                    <div class="top-0 z-10 w-screen h-1 bg-gradient-to-r shadow-md from-blue to-sky"></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="top-0 z-10 w-screen h-1 bg-gradient-to-r shadow-md from-blue to-sky"></div>
</header>