@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .nav-menu-toggle:checked ~ .nav-menu-content {
      max-height: 100%;
    }
    .nav-menu-up {
      display: inline;
    }
    .nav-menu-toggle:checked ~ .nav-menu-up {
      display: none;
    }
    .nav-menu-down {
      display: none;
    }
    .nav-menu-toggle:checked ~ .nav-menu-down {
      display: inline;
    }
}